.gradient-background1 {
  background: linear-gradient(50deg,#455071,#486de3,#faf8ff);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background2 {
  background: linear-gradient(294deg,#e12525,#1c72c2);
  background-size: 120% 120%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background3 {
  background: linear-gradient(294deg,#66b120,#baccbd);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: blue;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .calculator input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
  }
  
  .calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  .calculator button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: wh;
    cursor: pointer;
  }
  
  .calculator button:hover {
    background-color: #e0e0e0;
  }
  